In [4]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

car = pd.read_csv('carposition.csv')
car.head()

   Unnamed: 0  velocity  distance
0           0       0.0       0.0
1           1       0.0       0.0
2           2       9.0       9.0
3           3      17.0      26.0
4           4      25.0      51.0